<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantPulse | Login</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="login-style.css">
    <link rel="icon" type="image/jpg" href="./images/Life.jpg">
</head>
<body>
    <div class="container">
        <div class="form">
            <h1 class="login">Login</h1>
            <form  action="/user/login" method="post">
                <div class="input-group">
                    <input type="email" placeholder="Email" required name="email">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password" required name="password">
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <button class="submit-btn" type="submit">Log In</button>
                <div class="forgot">
                    <a href="forgot.html">Forgot Password?</a>
                </div>
                <div class="divider">
                    <span>Or</span>
                </div>
                <button class="google-btn">
                    <i class="bx bxl-google"></i> Log In with Google
                </button>
                <div class="signup-link">
                    <p>Don't have an account? <a href="./singup.html">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

